*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Aldhabi;
}

section{
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 600px */
}

.login-container{
    background-color: rgb(247, 247, 247);
    text-align: center;
    width: 40%;
    min-width: 480px;
    padding: 1rem 2rem;
    /* border: 1px solid royalblue; */
    margin-top: 2rem;
}

.login-container .login-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-bottom: 20px;
    img{
        width: 100px;
    }
}

.hr-line{
    height: 0.02rem;
    margin: auto;
    background-color: gray;
    opacity: 0.3;
    width: 90%;
    min-width: 100px;
}

.login-container h2{
    font-weight: lighter;
    margin: 1rem 0;
}

.login-container form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 90%;
    margin: auto;
}

.login-container form input, p, button{
    margin:10px 0;
    padding:0.90rem 1rem;
    width: 100%;
    /* min-width: 300px; */
    
}

.login-container form input{
    outline: none;
    border: 1px solid rgb(192, 190, 190);
    border-radius: 4px;
}

.login-container form p{
    text-align: start;
    padding: 0;
    font-size: 0.85rem;
    /* letter-spacing: 1px; */
    a{
        color: rgb(196, 191, 191);
        text-decoration: none;
        font-weight: 500;
    }
    a:hover{
        color: #a45f41;
    }
}

.login-container form button{
    color: #ffffff;
    background-color: #a45f41;
    border: none;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight:bolder  ;
    text-transform: uppercase;
    transition: all 0.4s ease;
    
}

.login-container form button:hover{
    background-color: transparent;
    color: #a45f41;
    border: 1px solid #a45f41;
}

.register{
    background-color: rgb(232, 235, 235);
    width: 90%;
    margin: auto;
    margin-top: 10px;
    padding: 0.90rem 4px;
    font-size: 0.90rem;
    a{
        text-decoration: none;
        color: rgb(196, 191, 191);
        margin-left: 3px;
    }
    a:hover{
        color: #a45f41;
    }
}


@media screen and (min-device-width: 481px) and (max-device-width: 868px) { 
    .login-container{
        margin-top:20%;
        width: 60%;
        min-width: 700px;
    }
}

@media (max-width: 481px){
    .login-container{
        margin-top: 20%;
        width: 100%;
        min-width: 300px;
    }
}