*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    width: 100%;
    scroll-behavior: smooth;
}

/* styling of header  */

header{
    width: 100%;
}
header .offer{
    width: 100%;
    height: 35px;
    background-color: #3D261B;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 0.90rem;
    text-align: center;
    position: relative;
    top: 0;
    z-index: 10;
}

header nav{
    display: flex;
    padding-inline: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    background-color: #fff;
    position: fixed;
    top: 35px;
    width: 100%;
    z-index: 100;
}
nav .hamburger{
    min-width: 40px;
}
nav .hamburger a{
    color: #212529;
    font-size: 1.5rem;
    text-decoration: none;
}
header nav .nav-logo{

}
header nav .nav-logo img{
    width: 90px;
    /* height: 110px; */
}

header nav .nav-sec{
    width: 70%;
}


header nav .nav-sec ul{
    display: flex;
    flex-wrap: wrap;
    /* row-gap: 10px; */
    list-style-type: none;
    li{
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        margin-right: 5px;
        font-size: 0.80rem;
        padding: 10px;
        cursor: pointer;
        font-weight:bolder;
        
    }
    li::after{
        content: '';
        position: absolute;
        /* width: 100%; */
        height: 0.01rem;
        bottom: 0;
        left: 0;
        background-color: #a45f41;
        transition: width 0.8s ease;
        width: 0;
    }
    li:hover::after{
        width: 100%;
        a{
            color: #a45f41;
        }
    }
    li:hover {
        a{
            color: #a45f41;
        }
    }

    a{
        text-decoration: none;
        color: #212529;
        transition: color 0.4s ease;
    }
    
}

header nav .nav-icons{

}
header nav .nav-icons ul{
    display: flex;
    gap: 12px;
    list-style-type: none;
    
    a{
        text-decoration: none;
        color: #212529;
    }
    li{
        text-transform: uppercase;
        /* margin-right: 1rem; */
        font-size: 1.5rem;

    }
}


.contactus-banner{
    margin-top: 100px;
    width: 100%;
    height: 370px;
    background-image: url('https://cdn.shopify.com/s/files/1/0650/5611/2867/files/contact_banner.png?v=1666252101');
    background-position: center;
    background-size: cover;
}
.contact-us-div{
    height: auto;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 20px;
}
.contact-us-div .contact-us{
    height: 100%;
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-us-div .contact-us h1{
    font-weight: 500;
}
.contact-us-div .send-us-msg{
    /* border: 1px solid black; */
    height: 100%;
}
.contact-us-div .contact-us .info-divs{
    margin-top: 25px;
    display: flex;
    /* border: 1px solid black; */
}
.contact-us-div .contact-us .info-divs h3{
    font-size: 20px;
    font-weight: 500;
}
.contact-us-div .contact-us .info-divs p{
    color: rgb(113, 111, 111);
    margin-top: 5px;
}
.contact-us-div .contact-us .info-divs .icon-div{
    display: flex;
    justify-self: center;
    align-items: center;
    /* border: 1px solid blue; */
}
.contact-us-div .contact-us .info-divs .icon-div i{
    font-size: 30px;
    margin-left: 5px;
}
.contact-us-div .contact-us .info-divs .icon-div{
    width: 50px;
}
.contact-us-div .send-us-msg{
    height: 100%;
    width: 50%;
    /* background-color: antiquewhite; */
}
.contact-us-div .send-us-msg h1{
    font-weight: 500;
}
.contact-us-div .send-us-msg p{
    margin-block: 15px;
}
.contact-us-div .send-us-msg form input{
    width: 100%;
    margin-block: 10px;
    height: 60px;
    border: 1px solid rgb(187, 183, 183);
}
.contact-us-div .send-us-msg form input::placeholder{
    padding-left: 20px;
}
.contact-us-div .send-us-msg form textarea{
    width: 100%;
    height: 200px;
    border: 1px solid rgb(187, 183, 183);
}
.contact-us-div .send-us-msg form button{
    margin-top: 10px;
    font-size: 20px;
    color: white;
    height: 50px;
    width: 200px;
    background-color: #A45F41;
    border: 1px solid #A45F41;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    transition-duration: 400ms;
}
.contact-us-div .send-us-msg form button:hover{
    color: black;
    border: 1px solid #A45F41;
    background-color: white;
}
.map-container{
    margin-top: 70px;
    height: 350px;
    width: 100%;
    /* border: 1px solid black; */
}
.map-container iframe{
    height: 100%;
    width: 100%;
}

  /* styling for footer */

  .container {
    width: 100%;
    margin-top: 40px;
    padding: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: #f8f4ec; */
    padding-left: 10px;
    font-family: Arial, sans-serif;
}

.logo-section {
    color: black;
    text-align: center;
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
    padding-inline: 20px;
}

.logo-section img {
    max-width: 100px;
}

.logo-section p {
    margin: 10px 0;
}

.social-media a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.social-media i {
    font-size: 20px;
}
.social-media a:hover i{
    color: #a3572a;
}

.links-section {
    display: flex;
    flex: 3;
    justify-content: space-between;
    min-width: 200px;
}

.column {
    flex: 1;
    min-width: 150px;
    margin-right: 20px;
}

.column h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.column ul {
    list-style: none;
}

.column ul li {
    margin-bottom: 8px;
}
.column ul li a {
    text-decoration: none;
    color: #333;
}

.column ul li a:hover {
    text-decoration: underline;
}


.wp-logo{
    height: 30px;
    width: 30px;
    background-color: rgb(102, 218, 102);
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    right: 30px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wp-logo i{
    font-size: 25px;
    color: white;
}
.back-to-top{
    height: 30px;
    width: 30px;
    background-color: #a3572a;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    right: 30px;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-to-top i{
    font-size: 30px;
    color: white;
}

 /* responsiveness for header  */

 @media (max-width: 1050px){
    nav .nav-sec{
        display: none;
    }
    .nav-icons .icon2{
        display: none;
    }
    .coffee-flavour .flavour-items .coffee-item{
        width: 85%;
        margin: auto;
    }
    header nav .nav-logo{
        width: 70%;
        display: flex;
        justify-content: center;
    }
}
@media (min-width: 1150px){
    .hamburger{
        display: none;
    }

    
}

@media (min-width:900px){
    .coffee-flavour{
        width:100%;
        /* background-color: rgb(210, 227, 210); */
        position: absolute;
        top: 500px;
    }
    .flavour-items{
        flex-wrap: nowrap;
    }
}

@media (max-width: 900px){
    .coffee-flavour{
        padding-top: 2rem;
    }
}


@media only screen and (max-width: 1195px) {
    .contactus-banner{
        height: 150px;
    }
    .contact-us-div{
        display: flex;
        flex-direction: column;
    }
    .contact-us-div .contact-us{
        height: 50%;
        width: 100%;
  
    }
    .contact-us-div .send-us-msg{
        margin-top: 50px;
        width: 100%;
     
        height: 50%;
    }

    /* styling for footer responsiveness */

    .items-container {
        flex-direction: column;
        align-items: center; 
    }
    .items-container div {
        width: 80%; 
    }
    .links-section {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size:medium;
        width: auto;
    }
    .links-section .column{
        
    }

}