
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* header section  */
header{
    width: 100%;
}
header .offer{
    width: 100%;
    height: 35px;
    background-color: #3D261B;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 0.90rem;
    text-align: center;
    position: relative;
    top: 0;
    z-index: 10;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    background-color: #fff;
    position: fixed;
    top: 35px;
    width: 100%;
    z-index: 100;
}
nav .hamburger{
    min-width: 40px;
}
nav .hamburger a{
    color: #212529;
    font-size: 1.5rem;
    text-decoration: none;
}
header nav .nav-logo{

}
header nav .nav-logo img{
    width: 90px;
    /* height: 110px; */
}

header nav .nav-sec{
    width: 70%;
}


header nav .nav-sec ul{
    display: flex;
    flex-wrap: wrap;
    /* row-gap: 10px; */
    list-style-type: none;
    li{
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        margin-right: 5px;
        font-size: 0.80rem;
        padding: 10px;
        cursor: pointer;
        font-weight:bolder;
        
    }
    li::after{
        content: '';
        position: absolute;
        /* width: 100%; */
        height: 0.01rem;
        bottom: 0;
        left: 0;
        background-color: #a45f41;
        transition: width 0.8s ease;
        width: 0;
    }
    li:hover::after{
        width: 100%;
        a{
            color: #a45f41;
        }
    }
    li:hover {
        a{
            color: #a45f41;
        }
    }

    a{
        text-decoration: none;
        color: #212529;
        transition: color 0.4s ease;
    }
    
}

header nav .nav-icons{

}
header nav .nav-icons ul{
    display: flex;
    gap: 12px;
    list-style-type: none;
    
    a{
        text-decoration: none;
        color: #212529;
    }
    li{
        text-transform: uppercase;
        /* margin-right: 1rem; */
        font-size: 1.5rem;

    }
}


.image-banner{
    margin-top: 100px;
    height: 350px;
    width: 100%;
    background-image: url('https://cdn.shopify.com/s/files/1/0650/5611/2867/files/our_story_banner.png?v=1666252097');
    background-position: center;
    background-size: cover;
}
.ourstory-container{
    margin-top: 100px;
    /* height: 100vh; */
    width: 100%;
    margin-bottom: 50px;
}
.ourstory-container h1{
    font-size:40px;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}
.ourstory-container .para-div{
    width: 75%;
    /* height: 500px; */
    margin: auto;
}
.ourstory-container .para-div p{
    margin-block: 30px;
    font-size: 17px;
}


.video-div{
    height: 500px;
    width: 75%;
    margin: auto;
    margin-bottom: 50px;
}
.video-div video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.about-ceo-div{
    height: 600px;
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    position: relative;
}
.about-ceo-div img{
    height: 100%;
    width: 55%;
    object-fit: cover;
    object-position: center;
}
.about-ceo-div .ceo-info{
    left: 50%;
    top: 40px;
    width: 50%;
    /* height: 0%; */
    padding: 20px;
    background-color: rgb(243,243,242);
    position: absolute;
}
.about-ceo-div .ceo-info h1{
    font-weight: 500;
}
.about-ceo-div .ceo-info p{
    margin-block: 15px;
    font-size: 17px;
}


.our-company-div{
    height: 600px;
    width: 75%;
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 50px;
}
.our-company-div .company-info{
    padding: 20px;
    height: 90%;
    width: 50%;
    background-color: rgb(243,243,242);
    position: absolute;
    left: 5%;
    top: 5%;
}
.our-company-div .company-info h1{
    font-weight: 500;
}
.our-company-div .company-info p{
    margin-block: 15px;
    font-size: 17px;
}
.our-company-div img{
    margin-left: auto;
    height: 100%;
    width: 55%;
    object-fit: cover;
    object-position: center;
}


.getupdate-banner{
    color: white;
    margin-bottom: 50px;
    background-image: url('https://www.kingscoffeeindia.co.in/cdn/shop/files/newsletter_d312e3ec-988b-4945-8225-8ddf8b93c213.png?v=1666266575');
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: flex;
}
.getupdate-banner .getupdate-div{
    height: 100%;
    width: 50%;
    text-align: center;
}
.getupdate-banner .getupdate-div h1{
    font-size: 40px;
    margin-top: 55px;
}
.underline{
    background-color:#a45f41;
    height: 2px;
    width: 150px;
    margin: auto;
}
.getupdate-banner .email-div{
    height: 100%;
    width: 50%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.getupdate-banner .email-div input{
    height: 50px;
    width: 350px;
    border: none;
}
.getupdate-banner .email-div input::placeholder{
    padding-left: 20px;
    font-weight: 600;
}
.getupdate-banner .email-div button{
    font-weight: 600;
    color: white;
    height: 50px;
    width: 80px;
    border: none;
    background-color:#a45f41;
}


/* css for footer */

.container {
    width: 100%;
    margin-top: 40px;
    padding: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: #f8f4ec; */
    padding-left: 10px;
    font-family: Arial, sans-serif;
}

.logo-section {
    color: black;
    text-align: center;
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
    padding-inline: 20px;
}

.logo-section img {
    max-width: 100px;
}

.logo-section p {
    margin: 10px 0;
}

.social-media a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.social-media i {
    font-size: 20px;
}
.social-media a:hover i{
    color: #a3572a;
}

.links-section {
    display: flex;
    flex: 3;
    justify-content: space-between;
    min-width: 200px;
}

.column {
    flex: 1;
    min-width: 150px;
    margin-right: 20px;
}

.column h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.column ul {
    list-style: none;
}

.column ul li {
    margin-bottom: 8px;
}
.column ul li a {
    text-decoration: none;
    color: #333;
}

.column ul li a:hover {
    text-decoration: underline;
}
.wp-logo{
    height: 30px;
    width: 30px;
    background-color: rgb(102, 218, 102);
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    right: 30px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wp-logo i{
    font-size: 25px;
    color: white;
}
.back-to-top{
    height: 30px;
    width: 30px;
    background-color: #a3572a;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    right: 30px;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-to-top i{
    font-size: 30px;
    color: white;
}


/* responsiveness of header */

@media (max-width: 1050px){
    nav .nav-sec{
        display: none;
    }
    .nav-icons .icon2{
        display: none;
    }
    .coffee-flavour .flavour-items .coffee-item{
        width: 85%;
        margin: auto;
    }
    header nav .nav-logo{
        width: 70%;
        display: flex;
        justify-content: center;
    }
}
@media (min-width: 1150px){
    .hamburger{
        display: none;
    }

    
}

@media (min-width:900px){
    .coffee-flavour{
        width:100%;
        /* background-color: rgb(210, 227, 210); */
        position: absolute;
        top: 500px;
    }
    .flavour-items{
        flex-wrap: nowrap;
    }
}

@media (max-width: 900px){
    .coffee-flavour{
        padding-top: 2rem;
    }
}




@media only screen and (max-width: 1195px) {

    .image-banner{
        height: 150px;
    }
    .ourstory-container h1{
        font-size: 40px;
        display: block;
    }
    .about-ceo-div{
        height: auto;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .about-ceo-div img{
        height: 50%;
        width: 100%;
        object-fit: cover;
        object-position: center;
 
    }
    .about-ceo-div .ceo-info{
        width: 100%;
        height: 50%;
        padding: 20px;
        background-color: rgb(243,243,242);
        position: static;
    }
    .ourstory-container .para-div{
        width: 90%;
        margin: auto;
    }
    .video-div{
        width: 90%;
    }


    .our-company-div{
        height: auto;
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .our-company-div .company-info{
        padding: 20px;
        height: 50%;
        width: 100%;
        background-color: rgb(243,243,242);
        position: static;
    }
    .our-company-div .company-info h1{
        font-weight: 500;
    }
    .our-company-div .company-info p{
        margin-block: 15px;
        font-size: 17px;
    }
    .our-company-div img{
        margin-left: auto;
        height: 50%;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .getupdate-banner{
        height: 300px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .getupdate-banner .getupdate-div{
        height: 50%;
        width: 100%;
    }
    .getupdate-banner .getupdate-div h1{
        margin-top: 20px;
    }
    .getupdate-banner .email-div{
        height: 50%;
        width: 100%;
    }
    .getupdate-banner .email-div input{
        min-width: 100px;
    }
    .items-container {
        flex-direction: column;
        align-items: center; 
    }
    .items-container div {
        width: 80%; 
    }
    .links-section {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size:medium;
        width: auto;
    }
    .links-section .column{
        
    }
    
}